{% extends "base.html" %}
{% block title %}Detail View{% endblock title%}


{% block script %}
<script>
    $(document).ready(function () {
        loadTweetContainer("tweet-container", {{ object.id }}) });
</script>
{% endblock script %}
{% block content %}
<div class='row'>
    <div class='col-sm-3 text-center' style='background-color: gray; height: 30px;'>
        <h6>{{ object.user }}</h6>
    </div>
    <div class='col-sm-9' style='height:30px ;'>
        <div id = "tweet-container">
            </div>
        <!-- {{ object.content }}<br />
        {{ object.timestamp|timesince}}<br /> -->
    </div>
</div>

{% endblock content %}