{% extends "base.html" %}
{% load recommended %}
{% block title %} List View {% endblock title%}
{% block script %}
<script>
    $(document).ready(function () {
        loadTweetContainer('tweet-container')
    });
</script>
{% endblock script %}
{% block content %}
<br />
<div class='row'>
    <div class='col-sm-3 col-xs-12 text-center'>
        <h6>{{ request.user }}</h6>
        <hr/>
        <h6>Recommended</h6>
        <!-- <h6>{{request.user}}</h6> -->
        {% recommended request.user %}
    </div>
    
    <div class='col-sm-9 text-center'>
        {% if not request.GET.q %}
        <div class="media-body text-left">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
        </div>
        {% endif %}
        <div id='tweet-container' data-url="/api/tweet/">
        </div>
        <a href='#' id=loadmore>Load More Tweets</a>
    </div>
</div>
{% endblock content %}