

{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function () {
        loadTweetContainer("tweet-container")
    });
</script>
{% endblock script %}



{% block content %}


<div class='row'>
    <div class='col-sm-12'>
        {% if request.GET.q %}
        <p class='lead'>Results for {{ request.GET.q }}</p>
        <hr />
        {% endif %}
    </div>
    <div class='col-sm-8 col-sm-offset-2'>
        <h6>Tweets</h6>
        <!-- <h6>{{ obj.tag }}</h6> -->
        <hr />

        <div id='tweet-container' data-url='/api/tags/{{ obj.tag }}/'>
        </div>
        <a href='#' id='loadmore'>Load More Tweets</a>


    </div>
</div>


{% endblock content %}